html {
  font-size:62.5%;
  overflow-y:visible
 }

body{
    //background-color: rgba(167, 167, 167, 0.8);
  
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: Open Sans,sans-serif;
    margin: 0;
  }
  
  
.width-u-100{
    width: 100%;
}
  
.icon:before {
    display:inline-block;
    font-family:ibanez-fonts;
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

/*.icon-zoom:before {

    //content: "\EA06"
    background-image: url('../images/icons/search.png');
    background-size: cover;
}*/

.mt30 {
  margin-top:30px
 }

 .pos_relative {
  position: relative;
}

img {
  vertical-align:top
 }
 img,
 iframe {
  max-width:100%
 }

 //INTERACTIBLES---------------------------------
button, input, select, textarea {
  outline: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

input {
  border-radius: 0;
}

//-------------------------------------------------

 //FOR SECTIONS
 .mod-block {
  position: relative;
  display: block;
  width: 100%;
  z-index: 2;
}


//----------------



//FOR RESPONSIVE
[data-view*=sp] {
  display:none
}
[data-view*=tablet] {
  display:none
}
[data-view*=pc] {
  display:block
}
[data-view*=pc-inlineblock] {
  display:inline-block
}


@media screen and (max-width:64em) {
  [data-view*=pc] {
      display:none
  }
  [data-view*=pc-inlineblock] {
      display:none
  }
  [data-view*=tablet] {
      display:block
  }
  [data-view*=tablet-inlineblock] {
      display:inline-block
  }
}

@media screen and (max-width:47.938em) {
  [data-view*=pc] {
      display:none
  }
  [data-view*=pc-inlineblock] {
      display:none
  }
  [data-view*=tablet] {
      display:none
  }
  [data-view*=tablet-inlineblock] {
      display:none
  }
  [data-view*=sp] {
      display:block
  }
  [data-view*=sp-inlineblock] {
      display:inline-block
  }

}
