/*html {
  font-size:62.5%;
  overflow-y:visible
 }*/

body{
    //background-color: rgba(167, 167, 167, 0.8);
  
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: Open Sans,sans-serif;
    margin: 0;
  }
  
  
.width-u-100{
    width: 100%;
}
  
.icon:before {
    display:inline-block;
    font-family:ibanez-fonts;
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.icon-zoom:before {

    //content: "\EA06"
    /*background-image: url('../images/icons/search.png');
    background-size: cover;*/
}

.mt30 {
  margin-top:30px
 }

 .pos_relative {
  position: relative;
}

img {
  vertical-align:top
 }
 img,
 iframe {
  max-width:100%
 }