
.youtube-video-div1 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    z-index: 2;
    background: #000;
}

.youtube-video-div2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.youtube-video-div3 { //block
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.heading-h3 { //mod-head-block
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 60px;
    //-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.2;
    font-family: Oswald,sans-serif;
    //font-size: 36px;
    font-size: 3.6rem;
    color: #fff;
}

.heading-big { //.mod-head-block-big
    display: block;
    padding-bottom: 10px;
    font-size: 70px;
    font-size: 6rem;

}

.videocontent { // .mod-head-block-content {
    position:absolute;
    left:0;
    width: 300%;
}

.thingybelow{ //mod-head-block-min 
    display:block;
    padding-top:10px;
    font-size:20px;
    font-size:2rem
}


//VIEW MORE VIDEOS
.mod-more-absolut { //
    position: absolute;
    bottom: 100px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mod-mor { //
    position: relative;
    border-top: 1px solid #555;
    text-align: center;
    z-index: 1;
    padding-top: 3em;
    padding-top: 1em;
}
.mod-auto-mor { //
    padding-right: 30px;
    padding-left: 30px;
    //max-width: 1540px;
}

.mod-aut { //
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    //max-width: 1600px;
    //width: 100%; //this property affects header
}

// VIEW MORE VIDEOS ANCHOR TEXT
.anchor { //mod-a
    display: block;
    width: 100%;
    outline: none;
}

.viewtext { //mod-text
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #888;
}

.viewtext:hover{
    opacity: 0.7;
}

.playButton{ // idx-videos-youtube-block-btn
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:200px;
    z-index:3;
    cursor:pointer
   }
   
.playButton:hover{
    opacity: 0.7;
}

//For artist focus
.artistimg:hover{
    filter: brightness(60%);
    cursor: pointer;
}